.top-banner{
    background-image: url('../../image/bannerbackground.png');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-bottom: 220px;
}
.search-food{
    background-color: white;
    border-radius: 20px;
}
.search-food input{
    width: 75%;
    background: none;
    border: none;
    outline: none;
    padding-left: 20px;
    padding: 8px 10px;
    font-weight: 500;

}
.search-food button{
    width: 20%;
    border-radius: 25px;
    background-color: #f91944;
    border: 2px solid #f91944;
    outline: none;
    float: right;
    font-weight: 700;
    color: #fff;
    padding: 6px 10px !important;
    transition: 0.5s all;
}
.search-food button:focus{
    outline: none;
}
.search-food button:hover{
    background: none;
    color: #000;
}